// 
// Colors
// 

// Pre-state grayscale colors used in other variables

$gray-800: #34495e;

// Override Bootstrap color system

$orange: #1ABC9C;

// Override Bootstrap default state colors

$primary: #2C3E50 ;
